.PokemonList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 3rem;
  padding: 0 3rem;
  justify-content: center;
}

@media screen and (min-width: 500px) {
  .PokemonList {
    grid-template-columns: repeat(2, 200px);
  }
}

@media screen and (min-width: 720px) {
  .PokemonList {
    grid-template-columns: repeat(2, 350px);
  }
}

@media screen and (min-width: 1240px) {
  .PokemonList {
    grid-template-columns: repeat(3, 350px);
  }
}

@media screen and (min-width: 1680px) {
  .PokemonList {
    grid-template-columns: repeat(4, 350px);
  }
}
